*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  min-height: 100%;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center, .header__title-link, .contact, .contact__email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 1rem 2rem;
  background-color: #212529;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 18vh;
}

@media (min-width: 768px) {
  .header {
    padding: 0;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__title-link {
  margin: 0 10% 0 0;
}

.header__title {
  font-family: "Roboto Slab Bold";
  font-size: 3rem;
  text-align: center;
  color: #e9ecef;
  letter-spacing: 5px;
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 3rem;
  }
}

.header__subtitle {
  font-size: 1.5rem;
  font-family: "Roboto Bold";
  color: #e9ecef;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 1440px) {
  .header__subtitle {
    font-size: 1.5rem;
  }
}

.header__nav {
  padding: 2rem 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  letter-spacing: 3px;
  position: absolute;
  right: 0px;
  height: 82vh;
  top: 18vh;
  background-color: #212529;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  z-index: 99;
}

@media (min-width: 768px) {
  .header__nav {
    position: unset;
    right: unset;
    top: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: unset;
    padding: 0;
    width: unset;
    margin: unset;
  }
}

.header__li {
  width: 100%;
  text-align: center;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  border-top: 4px solid #212529;
  border-bottom: 4px solid #212529;
  padding: 1rem 0;
  margin: 0 1rem;
  opacity: 0;
}

@-webkit-keyframes nav-fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes nav-fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 768px) {
  .header__li {
    font-size: 1rem;
    opacity: 1;
  }
  .header__li:hover {
    border-top: 4px solid #e9ecef;
    border-bottom: 4px solid #e9ecef;
    padding: 0.5rem 0;
  }
}

@media (min-width: 1440px) {
  .header__li {
    font-size: 1.5rem;
    width: 8rem;
  }
}

.header__nav-links {
  color: #e9ecef;
}

.header__burger * {
  width: 25px;
  height: 3px;
  background-color: #e9ecef;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (min-width: 768px) {
  .header__burger * {
    display: none;
  }
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.landing {
  background-color: #f0f0f0;
  background-image: url("/imgs/heromob.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media (min-width: 768px) {
  .landing {
    background-image: url("/imgs/herodesk.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.footer {
  background-color: #212529;
  color: #e9ecef;
  padding: 2.5rem 1.5rem;
}

.footer__title {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.footer__description {
  font-size: 0.75rem;
  font-style: italic;
}

.contact {
  padding: 2rem 1.5rem;
}

@media (min-width: 768px) {
  .contact {
    padding: 4rem 3rem;
  }
}

.contact__title {
  font-family: "Roboto Slab Regular";
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.contact__img {
  width: 15rem;
}

@media (min-width: 768px) {
  .contact__img {
    width: 20rem;
  }
}

.contact__email-wrapper {
  margin: 1.5rem 0;
}

.contact__icon {
  width: 2rem;
  margin: 0.5rem 0;
}

.contact__text {
  text-align: center;
  margin: 0.5rem 0;
}

.contact__mailto {
  margin: 0.5rem 0;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */